[Unit]
Description=rsnapshot home monthly backup

[Timer]
OnCalendar=*-*-1 19:00:00
Persistent=true
Unit=rsnapshot-home@monthly.service

[Install]
WantedBy=timers.target
